.wrapper{
	width: 379px;
margin: 10px;
border:3px solid;
font-family: Tahoma, sans-serif;
}
h1{
	margin: 14px 14px 31px;
    text-align: center;
    font-size: 23px;
}
img{
	display: block;
width: 257px;
margin: auto;	
}
.one{
	background: #9ABA48;
	color:white;
	width: 50%;
	height: 41px;
	font-size: 23px;
	box-shadow:-4px 7px 4px -3.3px grey;
}
p{
	padding: 0px 119px;
	margin:20px;
	width: 142px;
    font-size: 31px;
     font-family:sans-serif;
}
.thwo{
	background: #E93F33;
	padding: 10px 10px 10px 33px;
	margin:-6px 12px 10px 69px;
	color:white;
	font-size: 24px;
    width: 216px;
    text-align: center;
    box-shadow:4px 6px 6px -2.3px grey;
    text-shadow:-2px 2px 1px grey;
}