	.wrapper{
		background:white;
		width:600px;
		height:600px;
	}
	div{
		width:200px;
	height:200px;
	float:left;
		background:#791C16;
	}
img{
	width:200px;
	height:200px;
	float:left;
}
.wrapper:nth-child(2){
background:#791C16
}
.white{
	background:none;
}